/* color */

$text: #d9dade;
$text-gray: #6a6b70;
$background-normal: #1a1b22;
$background-deep: #151515;
$background-light: #23252f;
$header-background: #31323e;
$form-background: #252631;
$form-border: #15161e;
$form-focus: #444a84;
$botton-green: #1b9551;
$botton-blue: #3d46a0;
$link: #e27b71;
$strong: #00bce4;
$gray-line: #494a4e;
