/* color */

$text: #d9dade;
$background-a: #1a1b22;
$background-b: #151515;
$background-c: #23252f;
$header-background: #31323e;
$form-background: #252631;
$form-focus: #444a84;
$botton-Green: #1b9551;
$botton-blue: #38408f;
$link: #e27b71;
$strong: #00bce4;
$gray-line: #494a4e;

/* mixin */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* default */

html,body,p,h1,h2,h3,h4,ul,li,ol {
  margin: 0;
  padding: 0;
}

body {
  color: $text;
  background: #F9FAFD;
  text-align: center;
  padding-top: 40px;
}

.logo {
  text-align: center;
  padding: 50px 0 0;
  font-size: 40px;
}

h1 {
  margin: 20px;
  font-size: 28px;
}

input[type="text"], input[type="password"], input[type="tel"],select,textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #444;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
}

textarea {
  line-height: 160%;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0;
  border: 2px #5f22ab solid;
}

fieldset {
  width: 300px;
  margin: 30px auto 10px;
  border: none;
}

.text {
	width: 300px;
  margin: 0 0 15px;
  box-sizing: border-box;
}

select {
  background: transparent;
  position: absolute;
  z-index: 3;
  height: 50px;
  color: #444;
  display: block;
  font-size: 14px;
  border: 1px solid #d1d1d1;
  padding: 0 10px;
  border-radius: 6px;
}

.select {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 3px 0 10px 0;
  background: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  select {
    top: 0;
    left: 0;
    width: 300px;
    box-sizing: border-box;
  }
  .arrow {
    top: 0;
    right: 0px;
  }
}

.arrow {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 50px;
  border-left: 1px solid #d1d1d1;
  i {
    position: absolute;
    z-index: 2;
    font-size:20px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -7px;
  }
}


 a.botton,
 input[type="submit"],
 .add {
  margin: 30px auto;
  display: block;
  padding: 10px 0;
  line-height: 20px;
  width: 140px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #5f22ab;
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
}

.post-list {
  max-width: 800px;
  text-align: left;
  margin: 0 auto 30px;
  border: 1px solid #e4eaef;
  border-radius: 6px;
  background-color: #fff;
}

.post-list li:last-child {
  border: none;
}

.post {
  padding: 20px;
  list-style: none;
  border-bottom: 1px solid #e4eaef;
}

.post-title {
  font-weight: bold;
}

.action {
  margin-top: 10px;
}

.action a {
  color: #ccc;
  text-decoration: none;
  margin-right: 10px;
}

.new-idea-title {
  width: 800px;
}

.new-idea-body {
  height: 300px;
  width: 800px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


/* develop */

.debug_dump {
  padding: 20px;
  background: #fff;
}

.field_with_errors {
  .form-control {
    color: #ff0000;
  }
}
